@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

button {
	margin-top : 2em;
	font-size: 36px;
}

body {
	overflow: hidden;
	background: #000;
}

img {
	height: 200px;
	display: block;
	float: left;
	opacity: 0.3;
}

li {
	display : inline;
}

nav {
	background-color : #181C22;
	color : white;
	font-size : 16px;
	left : 0;
	position: fixed;
	top : 0;
	width : 100%;
	z-index : 1;
}

ul {
	margin-top : .5em;
	text-decoration : none;
}

#buttonDiv {
	text-align: center;
}

#gif1, #gif2, #winnerText {
	display: inline;
}

#gifContainer {
	width: 130%;
}

#logo {
	position: absolute;
	bottom: 0;
	opacity: 1;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-bottom: 40px;
}

#raffle {
	position: absolute;
	width: 100%;
	display: block;
	z-index: 10;
}

#winner {
	font-size: 80px;
	margin-top : .5em;
	margin-bottom : .5em;
	display: block;
	margin: auto;
	margin-top: 295px;
}

#winnerText {
	font-size: 70px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.winbtn {
    color: #fff;
    background-color: rgba(0,0,0,0);
    border-color: #ffffff;
		border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 100px;
		font-size: 30px;
		border-radius: 30px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 40px;
}

.winbtn:hover, .winbtn:focus, .winbtn:active, .winbtn:link {
	background-color : rgba(0,0,0,0);
	border-color: #fff;
	outline: 0;
}

.imgDiv {
	overflow: hidden;
}

.navLink a:hover, .navLink a:focus {
	text-decoration : none;
}

.navLink {
	padding : 1em;
	font-variant : small-caps;
}

.navLink a {
	color : white;
}

.signIn {
	margin-top: 2500px;
}

@media only screen and (min-width: 2000px) {
	img {
		height: 225px;
	}

	#winner {
		margin-top: 360px;
	}
}
