/* the css file for my Personal Portfolio page */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
	background-color: #e1e1e1;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 26px;
	font-weight: bold;
}

h3, h4 {
	font-weight: bold;
	margin-top: 0px;
}

img {
	width: 100%;
	border-radius: 15px;
}

#buttons li {
	display: inline-block;
}

#buttons {
	padding-left: 0px;
}

#contactDiv {
	margin-top: 3em;
}

#headerText {
	font-size: 22px;
}

#projectDiv {
	margin-bottom: 2em;
}

#titleContainer {
	text-align: center;
}

.btnDiv {
	text-align: right;
}

.contact {
	text-align: center;
	font-size: 20px;
}

.contact:link {
    text-decoration: none;
    color: black;
}

.contact:visited {
    text-decoration: none;
    color: black;
}

.contact:hover {
    text-decoration: none;
    color: #337ab7;
}

.contact:active {
    text-decoration: none;
    color: #337ab7;
}

.container {
	background-color: white;
	box-shadow: 0px 0px 10px #888888;
}

.cover {
	object-fit: cover;
	height: 300px;
}

.headerDiv {
	text-align: center;
}

.projectLink:link {
	opacity: 1;
	transition: .5s ease;
}

.projectLink:hover {
	opacity: 0.3;
	transition: .5s ease;
}

/* style rules for screens larger than 768 pixels */
@media screen and (min-width: 768px) {
	.col-sm-6 {
		height: 550px;
	}

	.container {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.cover {
		width: 100%;
	}
}

/* style rules for screens larger than 992 pixels */
@media screen and (min-width: 992px) {
	p {
		font-size: 16px;
	}

	.col-sm-6 {
		height: 700px;
	}

	.cover {
		height: 400px;
	}
}

/* style rules for screens larger than 1200 pixels */
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 75px
	}

	h2 {
		font-size: 36px;
	}

	#headerText {
		font-size: 30px;
	}
}