/* the css file for my Personal Portfolio page */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
	font-family: Roboto, sans-serif;
}

h1, h2 {
	text-align: center;
	margin-top: 0px;
	font-weight: bold;
}

nav {
	min-height: 50px;
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: rgb(50, 50, 50);
}

table {
	width: 100%;
}

th, td {
	text-align: center;
}

#about, #contact {
	background-color: #175676;
	color: white;
}

#aboutContainer {
	padding-top: 20px;
}

#buttons {
	line-height: 50px;
	vertical-align: center;
	padding: 0px;
	list-style: none;
	float: right;
	margin-bottom: 0px;
}

#buttons li {
	display: inline;
}

#contactTable td {
	width: 33%;
}

#name {
	line-height: 50px;
	vertical-align: center;
	color: white;
	font-size: 18px;
}

#projects {
	padding-bottom: 0px!important;
}

#projectsList h2 {
	margin-top: 30px;
	margin-bottom: 60px
}

#projectsList img {
	height: 300px;
}

#projectsList td {
	vertical-align: top;
	padding-bottom: 50px;
}

#projectsList td:nth-child(1) {
	width: 60%;
}

#skillsTable td, #skillsTable th {
	width: 25%;
}

.contact {
	text-decoration: none!important;
	color: darkturquoise!important;
}

.fa {
	margin-right: 5px;
}

.navlink {
	text-decoration: none;
	color: white!important;
	margin-left: 20px;
}

.navlink:hover {
	text-decoration: none;
}

.redirect {
	padding-top: 50px;
	padding-bottom: 50px;
}