/* the css file for my Personal Portfolio page */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
	font-family: Roboto, sans-serif;
}

h1, h2 {
	text-align: center;
	margin-top: 0px;
	font-weight: bold;
}

nav {
	min-height: 50px;
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: rgba(50, 50, 50, .90);
}

table {
	width: 100%;
}

th, td {
	text-align: center;
}

#about, #contact {
	background-color: #175676;
	color: white;
}

#about a, #contact a {
	color: #b4a892;
}

#buttons {
	line-height: 50px;
	vertical-align: center;
	padding: 0px;
	list-style: none;
	float: right;
	margin-bottom: 0px;
}

#buttons li {
	display: inline;
}

#contactTable td {
	width: 33%;
}

#name {
	line-height: 50px;
	vertical-align: center;
	color: white;
	font-size: 18px;
}

#projectsList {
	padding: 0px;
	list-style: none;
	width: 50%;
	margin: auto;
}

#projectsList img {
	height: 350px;
}

#projectsList li {
	text-align: center;
}

#skillsTable td, #skillsTable th {
	width: 25%;
}

.navlink {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.navlink:active {
	color: white;
}

.navlink:visited {
	color: white;
}

.navlink:hover {
	color: white;
}

.redirect {
	padding-top: 70px;
	padding-bottom: 40px;
}