/* the css file for my Personal Portfolio page */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	color: gray;
}

nav {
	min-height: 50px;
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: #24292e;
}

p {
	font-size: 20px;
}

table {
	width: 100%;
}

th, td {
	text-align: center;
}

#about {
	background-color: #337ab7;
	color: white;
}

#about p {
	text-align: justify;
}

#about p, .contact {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

#about a {
	text-decoration: none!important;
	color: #fcf8e3;
}

#aboutContainer {
	padding-top: 20px;
}

#buttons {
	line-height: 50px;
	vertical-align: center;
	padding: 0px;
	list-style: none;
	float: right;
	margin-bottom: 0px;
}

#buttons li {
	display: inline;
}

#contact {
	background-color: #333;
}

#contactTable td {
	width: 33%;
}

#contactTable a {
	font-size: 20px;
}

#name {
	line-height: 50px;
	vertical-align: center;
	color: white;
	font-size: 18px;
}

#projects {
	padding-bottom: 0px!important;
}

#projectsContainer h2 {
	margin-top: 30px;
	margin-bottom: 20px
}

#projectsContainer img {
	max-width: 90%;
	border-radius: 10px;
	display: block;
	margin: auto;
}

#projectsContainer p {
	text-align: justify;
}

#projectsContainer table {
	table-layout: fixed;
}

#projectsContainer td {
	padding-bottom: 70px;
	text-align: left;
}

#skillsTable td, #skillsTable th {
	width: 25%;
}

.contact {
	text-decoration: none!important;
	color: white!important;
}

.fa {
	margin-right: 5px;
}

.navlink {
	text-decoration: none;
	color: white!important;
	margin-left: 20px;
}

.navlink:hover {
	text-decoration: none;
}

.redirect {
	padding-top: 50px;
	padding-bottom: 50px;
}

.tags {
	list-style: none;
	padding: 0px;
}

.tags li {
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	box-shadow: none;
	color: #fef4e9;
	border: 0;
	background: rgb(90, 90, 90);
	margin-bottom: 3px;
}

/* css rules for screen sizes less than 800 */
@media screen and (max-width: 800px) {
	#contactTable, #contactTable td, #contactTable tr, #contactTable tbody {
		display: block;
		width: 100%;
	}

	#contactTable td a {
		display: block;
		margin: auto;
		padding-bottom: 15px;
	}

	#projectsTable, #projectsTable thead, #projectsTable tbody, #projectsTable th, #projectsTable td, #projectsTable tr {
		display: block;
	}

	#projectsContainer img {
		margin: auto;
		display: block;
		max-width: 80%;
	}

	#projectsTable tr:nth-child(odd) {
		display: flex;
		flex-direction: column-reverse;
	}

	#projectsTable tr:nth-child(odd) td:last-child {
		padding-bottom: 0px;
	}

	#projectsTable tr:nth-child(even) td:first-child {
		padding-bottom: 0px;
	}
}
