@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

button {
	margin-top : 2em;
	font-size: 36px;
}

img {
	height: 200px;
}

li {
	display : inline;
}

nav {
	background-color : #181C22;
	color : white;
	font-size : 16px;
	left : 0;
	position: fixed;
	top : 0;
	width : 100%;
	z-index : 1;
}

ul {
	margin-top : .5em;
	text-decoration : none;
}

#buttonDiv {
	text-align: center;
}

#gif1, #gif2, #winnerText {
	display: inline;
}

#winnerText {
	font-size: 70px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color : #c0c0c0;
	border-color : #c0c0c0;
}

.navLink a:hover, .navLink a:focus {
	text-decoration : none;
}

.navLink {
	padding : 1em;
	font-variant : small-caps;
}

.navLink a {
	color : white;
}

.signIn {
	margin-top: 2500px;
}

.winner {
	font-size: 80px;
	margin-top : .5em;
	margin-bottom : .5em;
}