<!-- html file for the home page that gives a short description of what this website is, as well as a random project I have done -->

<div>
	<!-- title for this section of the page -->
	<div class="headerDiv">
		<h2>About Me</h2>
	</div>
    
    <!-- desctiption of this section of the page -->
    <div>
   		 <p id="homeText">Hey, I'm Jack Whitesell. I'm currently studying Informatics at the University of Washington and am graduating in June 2017. My main focus is on web development, and you can check out some of the projects I've made <a href="/projects" ui-sref="projects">here</a>. Feel free to contact me or check out my GitHub profile below.</p>
    </div>

    <div>
        <h3>Technical Skills</h2>
        
        <div class=row>
            <div class="col-sm-3">
                <p>Java</p>
            </div>
            <div class="col-sm-3">
                <p>C#</p>
            </div>
            <div class="col-sm-3">
                <p>Android</p>
            </div>
            <div class="col-sm-3">
                <p>PHP</p>
            </div>
        </div>

        <div class=row>
            <div class="col-sm-3">
                <p>JavaScript</p>
            </div>
            <div class="col-sm-3">
                <p>HTML</p>
            </div>
            <div class="col-sm-3">
                <p>CSS</p>
            </div>
            <div class="col-sm-3">
                <p>SQL</p>
            </div>
        </div>

        <h3>Personal Accomplishments</h3>

        <div>
            <ul>
                <li>Black belt in karate with over 10 years of practice.</li>
                <li>President of the UW anime club.</li>
            </ul>
        </div>

    <div class="row" id="contactDiv">
        <div class="col-sm-6">
            <a class="contact" href="mailto:jackw117@uw.edu"><i class="fa fa-lg fa-envelope"></i> jackw117@uw.edu</a>
        </div>
        <div class="col-sm-6">
            <a class="contact" href="https://github.com/jackw117"><i class="fa fa-lg fa-github"></i> jackw117</a>
        </div>
    </div>
</div>