<h3>Spotify Trivia</h3>

<div>
	<p>Using AngularJS and the Spotify API, I created an application that allows users to select an artist and guess which song is playing from a random sample taken from Spotify. They then can choose to play again using the same artist, play using a similar artist, or search again. Check out the bottom two links for the source code and to walk through a working version of the app.</p>
	<div class="row" id="links">
        <div class="col-sm-6">
            <a class="contact" href="https://github.com/jackw117"><i class="fa fa-lg fa-github"></i> GitHub Code</a>
        </div>
        <div class="col-sm-6">
            <a class="contact" href="http://students.washington.edu/jackw117/info343/spotify-template/"><i class="fa fa-lg fa-server"></i> Working Version</a>
        </div>
    </div>
</div>